<div class="jumbotron outcome-new text-center">
	<h1>Deal <span class="text-uppercase">sucsefully created</span></h1>
	<p><a href="/pipelines/{{id}}/deals" class="btn btn-primary btn-lg">Back to deals list</a></p>
</div>