<div class="container">
    <div class="row">
        <div class="col">
            <div class="list-group">
                {{#each searchres}}
                    <a href="/pipelines/{{id}}/deals" class="list-group-item"><strong>{{name}}</strong> (ID: {{id}}) </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>
